<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <context:property-placeholder location="classpath:task-assistant.properties"/>
    <bean id="predicate" class="hms.codefest.elves.service.impl.TaskReachedDeadlinePredicate"/>
    <bean id="viberConector" class="hms.codefest.elves.connector.impl.ViberMessageConnectorImpl"/>
    <bean id="projectsServerConnector" class="hms.codefest.elves.connector.impl.ProjectsServerConnectorImpl" init-method="init" destroy-method="destroy">
        <property name="targetUrl" value="${projects.server.target.url}"/>
    </bean>
    <bean id="lineMessageSender" class="hms.codefest.elves.service.messaging.TextMessageSender"/>
    <bean id="taskService" class="hms.codefest.elves.service.impl.DefaultTaskProcessingService"
          p:predicate-ref="predicate"
          p:projectsServerConnector-ref="projectsServerConnector"
          p:lineMessageSender-ref="lineMessageSender"/>

    <bean id="messageReceiver" class="hms.codefest.elves.service.messaging.DefaultMessageReciever"/>

    <bean id="taskProcessingScheduler" class="hms.codefest.elves.service.impl.DefaultTaskProcessingScheduler"
          p:taskService-ref="taskService"
          p:interval="${tasks.processing.interval}"
          p:threadPoolSize="5"/>

    <bean id="userRepo" class="hms.codefest.elves.data.UserRepo" init-method="init"/>
    <task:scheduled-tasks>
        <task:scheduled ref="taskProcessingScheduler" method="schedule" fixed-delay="5"/>
    </task:scheduled-tasks>
</beans>